<div class="objective-panel">
  <div class="panel-header">
    <div class="panel-icon">
      <div *ngIf="iconType === 'portal'" class="icon-portal"></div>
      <div *ngIf="iconType === 'constellation'" class="icon-constellation">
        <div class="star-point" style="top: 10%; left: 20%"></div>
        <div class="star-point" style="top: 30%; left: 70%"></div>
        <div class="star-point" style="top: 60%; left: 15%"></div>
        <div class="star-point" style="top: 80%; left: 60%"></div>
        <div class="star-point" style="top: 45%; left: 45%"></div>
        <div
          class="star-line"
          style="width: 35px; top: 12%; left: 22%; transform: rotate(35deg)"
        ></div>
        <div
          class="star-line"
          style="width: 40px; top: 32%; left: 45%; transform: rotate(-20deg)"
        ></div>
        <div
          class="star-line"
          style="width: 45px; top: 47%; left: 17%; transform: rotate(65deg)"
        ></div>
        <div
          class="star-line"
          style="width: 30px; top: 62%; left: 45%; transform: rotate(-40deg)"
        ></div>
      </div>
    </div>
    <h2 class="panel-title">{{ title }}</h2>
  </div>
  <ul class="objectives-list">
    <app-objective-item
      *ngFor="let objective of objectives"
      [objective]="objective"
    ></app-objective-item>
  </ul>
</div>
