@import "app/styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #000;
  color: #fff;
}

*:focus {
  outline: none;
}

// Para navegadores baseados em WebKit (Chrome, Safari, Edge)
::-webkit-scrollbar {
  width: 12px;
}

// O fundo da barra de rolagem (a trilha)
::-webkit-scrollbar-track {
  background: rgba(
    10,
    10,
    26,
    0.4
  ); // Um fundo escuro, similar ao da sua navbar
  border-radius: 10px;
  border: 1px solid $primary-alpha-10;
}

// A parte que o usuário arrasta (o polegar)
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    $primary-color,
    $secondary-color,
    $tertiary-color
  );
  border-radius: 10px;
  border: 2px solid rgba(10, 10, 26, 0.8);
  box-shadow: 0 0 10px $primary-color, 0 0 20px $secondary-color;

  &:hover {
    background: linear-gradient(
      45deg,
      lighten($primary-color, 10%),
      lighten($secondary-color, 10%),
      lighten($tertiary-color, 10%)
    );
    box-shadow: 0 0 15px $primary-color, 0 0 30px $secondary-color;
  }
}
